@*專家參與紀錄(會外組別標案)*@
<script src="~/Scripts/prj/BasicUserHistorySet.js?v=20240414001"></script>
@*專家參與紀錄(主程式)*@
<script src="~/Scripts/prj/BasicUser.js?v=20240414001"></script>


<script src="~/Scripts/prj/baseb.js?v=20240130001"></script>
@using Dou.Misc.Extension
@Html.MenuMap()
@Html.DataManagerOptionsJavascript(null, "douoptions")

<style>
    .bootstrap-table .fixed-table-container .fixed-table-body .dou-field-strExpertises {
        white-space: break-spaces;
    }

    .text-danger {
        font-weight: bold;
    }

    .modal-body .text-danger {
        font-weight: bold;
        color: #A0072C !important;
    }

    .modal-body li {
        color: #53575A;
    }

    .modal-body .mt-2 a {
        font-weight: bold;
        color: #53575A;
    }

        .modal-body .mt-2 a:hover {
            color: #707579;
            text-decoration: underline !important;
        }

    .checkbox-lg .form-check-input {
        top: .8rem;
        scale: 1.4;
        margin-right: 0.7rem;
    }

    .checkbox-lg .form-check-label {
        padding-top: 13px;
    }

    .checkbox-xl .form-check-input {
        top: 1.2rem;
        scale: 1.7;
        margin-right: 0.8rem;
    }

    .checkbox-xl .form-check-label {        
        font-size: 18px
    }
</style>

@{
    List<Dou.Models.RoleUser> r = ViewBag.Roles;

    <script>

        var loginRoles = @Html.Raw(Json.Encode(r.Select(a => a.RoleId)));
    </script>

}

<br />
<span id="mlist" class="container-fluid body-content"></span>

<div id="_tabs">
    <table id="_table"></table>
</div>    

@*下層資料表*@
<table id="_downtable"></table>

   
<script>
    var aryVPower = JSON.parse('@Html.Raw(Json.Encode(ViewBag.VPower))');
    //只能檢視
    var IsView = '@ViewBag.IsView'.toLowerCase() == 'true';
</script>